<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSLocalNetworkUsageDescription</key>
  <string>Weline Localnet 需要访问本地网络，以发现同一局域网中的用户并直接传输消息和文件。</string>
  <key>NSBonjourServices</key>
  <array>
    <string>_p2p._udp</string>
  </array>
</dict>
</plist>
